---
title: base template
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/whaiesfavi.ico">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <div class="body_container">
        <div class="nav_container basecontainer">
            {%- include "layouts/header.html" -%}
        </div>
        <div class="content_container basecontainer">
            <div class="column">
                {{ content }}
            </div>
        </div>
        <div class="footer_container basecontainer">
            {%- include "layouts/footer.html" -%}
        </div>
    </div>
</body>

</div>
</html>