---
title: base template
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/whaiesfavi.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="body_container">
        <div class="nav_container container">
            {%- include "layouts/header.html" -%}
        </div>
        <div class="content_container container">
            <div class="column">
                {{ content }}
            </div>
        </div>
        <div class="footer_container container">
            {%- include "layouts/footer.html" -%}
        </div>
    </div>
</body>

</div>
</html>