<div class="footer column">
    <a href="/"><img class="nav-image" src="/images/whales.png" style="width:40px;"></a>

    <p>made with <a href="https://www.11ty.dev/">11ty.</a></p>

    <div>
        <span><a href="https://whaies.itch.io/" target="blank"><img src="/images/ctrl.png" style="width:25px;"></a></span>
        <span><a href="https://open.spotify.com/user/1273336116?si=90c44fae22c04313" target="blank"><img src="/images/spot.png" style="width:25px;"></a></span>
        <!-- <span><a href="https://twitter.com/GrandBeluga"><img src="/images/twit.png" style="width:25px;"></a></span> -->
        <span><a href="https://www.instagram.com/ethan.bliese/" target="blank"><img src="/images/inst.png" style="width:25px;"></a></span>
    </div>
</div>