<div class="nav">
        <span class="px-0 font-semibold"><a href="/" class="hover:text-[#D18E67]">whaies.dev</a></span>

        <div class="nav_links">
            <span class="nav_link"><a href="/projects" class="dark:color-[#D18E67]">Projects</a></span>
            <span class="nav_link"><a href="/blog">Blog</a></span>
            <span class="nav_link"><a href="/archive">Archive</a></span>
        </div>
        <button id="dark-mode-toggle">
            <span class="dark:hidden"><img src="/images/moon_icon.png" style="width:20px;"></span>
            <span class="hidden dark:inline"><img src="/images/sun_icon.png" style="width:20px;"></span>
        </button>
</div>