@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #121111;;
  color: #e0dbcd;
  width: 100%;
  height: 100%;
  font-family: Inter;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0dbcd;
  text-align: left;
  text-decoration-thickness: 1.5px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  /* padding-left: 1em; */
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: ##e0dbcd;
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #7fffd4;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

li {
  color: #e0dbcd;
  line-height: 1.75em;
}

.basecontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.body_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.content_container {
  margin-top: 4em;
  margin-bottom: 4em;
  min-width: 0;
}

.nav_container {
  background-color: #1f1e1e;
}

.footer_container {
  margin-top: auto;
  background-color: #1f1e1e;
}

article {
  padding: 40px;
  background-color: #1f1e1e;
}

div.column {
  max-width: 55em;
  flex-grow: 1;
  padding-right: 2em;
  padding-left: 2em;
  min-width: 0;
}

div.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 55em;
  flex-grow: 1;
  padding-right: 2em;
  padding-left: 2em;
}

div.footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.nav_links :hover {
  color: #e0dbcd;
}

.nav_link {
  font-weight: 600;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.foot_link {
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.nav-image {
  margin-right: 10px;
}

table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  border-right: none;
}

td,
th {
  padding: 10px;
  border-bottom: 1px solid;
  border-color: #e0dbcd;
}

.in-progress {
  color: #ffb166;
  border-color: #e0dbcd;
}

.completed {
  color: #8ce6ff;
  border-color: #e0dbcd;
}

.abandoned {
  color: #a2a2a2;
  border-color: #e0dbcd;
}

.queued {
  color: #eacb57;
  border-color: #e0dbcd;
}

tr {
  padding: 20px 20px 10px 10px;
  border-color: #e0dbcd;
}

hr {
  border: none;
  height: 1px;
  background-color: #e0dbcd;
}

tbody {
}

@media screen and (max-width: 750px) {
  div.nav {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
  }
}
